<h2>Item Details</h2>
<h3>{{itemName}}</h3>
<ul>
  <li> Owner: {{owner}} </li>
  <li> Bid Number: {{bidNumber}} </li>
  <li> Price: {{price}} </li>
  <li> Story: {{story}} </li>
  <li> Estimated Price: {{price}} </li>
  <li> Year Acquired: {{year}} </li>
</ul>
