<h2>Item Details</h2>
<div class="thumbnail">
  <img {{bind-attr src=image}} style="width:320px; height:200px">
  <div class="caption">
    <h3>{{itemName}}</h3>
    <p>{{story}}</p>
    <p><small>Owner: {{owner}}</small></p>
    <p><small>Bid Number: {{bidNumber}}</small></p>
    <p><small>Estimated Price: {{price}}</small></p>
    {{#link-to '' classNames="btn btn-primary"}}More Info{{/link-to}}
  </div>
</div>
